.container {
	flex: 0.45;
	border-right: 1px solid whitesmoke;
	height: 100vh;
	min-width: 300px;
	max-width: 300px;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.container::-webkit-scrollbar {
	display: none;
}

.search{
	display: flex;
	align-items: center;
	padding: 20px;
	border-radius: 2px;
}

.searchInput{
	outline: none;
	border: none;
	flex: 1;

}
.header {
	display: flex;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	height: 80px;
	border-bottom: 1px solid whitesmoke;
}
